[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target syslog.target

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart={{kafka_bin_dir}}/kafka-server-start.sh {{kafka_config_dir}}/server.properties
ExecStop={{kafka_bin_dir}}/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target